@import url(https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900);
body,
html {
    width: 100%;
    height: 100%;
    font-family: "Merriweather", serif;
    color: #555;
}

$light-blue: #03a9f4;

a {
    color: $light-blue;
    &:hover {
        color: darken($light-blue, 20%);
    }
}

header {
    text-align: center;
    font-weight: 300;
    & h1 {
        font-size: 2em;
        margin-bottom: 0.25em;
        line-height: 1.3;
        & span {
            display: block;
            font-size: 0.4em;
            line-height: 1.2;
            text-transform: uppercase;
            &:first-of-type {
                line-height: 0.4;
            }
        }
    }
    & h3 {
        font-size: 0.8em;
        line-height: 1.5;
        margin: 0;
    }
}
 
hr {
    border: none;
    width: 200px;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}

abbr {
    cursor: help;
}

.tooltip {
    border-bottom: 1px dashed black;
}

div#question, div#sources {
    & blockquote {
        font-size: 0.7em;
        border-left-color: $light-blue;
        color: #999;
    }
    & h4 {
        font-size: 1.75em;
        text-align: center;
        margin-top: 75px;
        margin-bottom: 0;
        line-height: 0.7;
    }
}

div#links {
    text-align: center;
    & h4 {
        font-size: 1.75em;
        margin-top: 30px;
        margin-bottom: 0;
        line-height: 0.7;
    }
    & a {
        font-size: 0.7em;
    }
}

footer {
    text-align: center;
    margin-top: 80px;
    & ul {
        list-style-type: none;
    }
    & li {
        display: block;
        &:not(:last-of-type)::after{
            content: "";
            margin: 0;
        }
    }
}

@media (min-width: 500px) {
    footer li {
        display: inline;
        &:not(:last-of-type)::after{
            content: "/";
            margin: 10px;
        }
    }
}

div#sources {
    & li {
        padding-left: 40px;
        text-indent: -40px;
        margin-bottom: 15px;
        line-height: 1.3;
        font-size: 16px;
    }
}

#pmd {
    & p {
        font-size: 18px;
        line-height: 1;
    }
}