/* line 1, C:/Users/ram.zallan/Desktop/web-trends/2000/css/styles.scss */
body {
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 50px; }

/* line 8, C:/Users/ram.zallan/Desktop/web-trends/2000/css/styles.scss */
.container {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 5px 20px;
  margin: 0 auto;
  width: 500px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-align: center;
  background: #d4ebf2;
  background: linear-gradient(45deg, #e8f4f8, #72bcd4); }

/* line 25, C:/Users/ram.zallan/Desktop/web-trends/2000/css/styles.scss */
.navigation {
  margin: 0; }
  /* line 27, C:/Users/ram.zallan/Desktop/web-trends/2000/css/styles.scss */
  .navigation ul {
    margin: 10px;
    margin-top: 30px;
    padding: 0; }
    /* line 31, C:/Users/ram.zallan/Desktop/web-trends/2000/css/styles.scss */
    .navigation ul li {
      list-style-type: none;
      margin: 0;
      display: inline-block;
      -webkit-transform: rotate(-30deg);
      -ms-transform: rotate-(30deg);
      transform: rotate(-30deg);
      border: 2px solid blue;
      background: #6666ff;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      padding: 2px;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
      -webkit-transition: 0.3s all;
      transition: 0.3s all; }
      /* line 47, C:/Users/ram.zallan/Desktop/web-trends/2000/css/styles.scss */
      .navigation ul li:hover {
        transform: scale(1.1);
        background: #9999ff;
        border: 2px solid #3333ff;
        box-shadow: 2px 2px 20px black; }
      /* line 53, C:/Users/ram.zallan/Desktop/web-trends/2000/css/styles.scss */
      .navigation ul li:active {
        background: #6666ff;
        box-shadow: 2px 2px 20px black; }
      /* line 57, C:/Users/ram.zallan/Desktop/web-trends/2000/css/styles.scss */
      .navigation ul li:not(:first-of-type) {
        margin-left: 25px; }
      /* line 60, C:/Users/ram.zallan/Desktop/web-trends/2000/css/styles.scss */
      .navigation ul li:last-of-type {
        margin-right: 25px; }
      /* line 63, C:/Users/ram.zallan/Desktop/web-trends/2000/css/styles.scss */
      .navigation ul li a {
        text-decoration: none;
        padding: 2px;
        font-size: 16px;
        color: white;
        text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black;
        font-weight: bold;
        padding-left: 5px; }

/* line 76, C:/Users/ram.zallan/Desktop/web-trends/2000/css/styles.scss */
.content {
  text-align: left;
  height: 240px;
  overflow: hidden; }
  /* line 80, C:/Users/ram.zallan/Desktop/web-trends/2000/css/styles.scss */
  .content p {
    text-indent: 30px;
    line-height: 1.2;
    cursor: default; }

/* line 87, C:/Users/ram.zallan/Desktop/web-trends/2000/css/styles.scss */
#more {
  margin: 10px auto;
  text-align: center; }

/* line 92, C:/Users/ram.zallan/Desktop/web-trends/2000/css/styles.scss */
h1 {
  font-size: 80px;
  line-height: 1;
  margin: 0;
  margin-top: 10px;
  color: #f7dc6f;
  text-shadow: 5px 5px 10px black;
  animation: size 5s infinite ease-in-out;
  cursor: default; }

@keyframes size {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

/* line 115, C:/Users/ram.zallan/Desktop/web-trends/2000/css/styles.scss */
h2 {
  font-size: 25px;
  margin: 0;
  line-height: 1.5;
  color: #c1ff62;
  text-shadow: 2px 2px 5px black;
  cursor: default; }

/* line 124, C:/Users/ram.zallan/Desktop/web-trends/2000/css/styles.scss */
button#more {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  cursor: pointer;
  font-family: "Comic Sans MS", "Comic Sans", sans-serif, cursive;
  font-weight: bold;
  color: white;
  background: rgba(0, 0, 255, 0.3);
  border: none;
  border-radius: 100px;
  padding: 5px 10px;
  outline: none; }
  /* line 136, C:/Users/ram.zallan/Desktop/web-trends/2000/css/styles.scss */
  button#more:hover {
    background: rgba(0, 0, 255, 0.5); }
  /* line 139, C:/Users/ram.zallan/Desktop/web-trends/2000/css/styles.scss */
  button#more:active {
    background: rgba(0, 0, 255, 0.7); }

/* line 144, C:/Users/ram.zallan/Desktop/web-trends/2000/css/styles.scss */
.pointer {
  width: 30px;
  transform: rotate(90deg);
  animation: rightPointer 2s infinite ease-in-out; }
  /* line 148, C:/Users/ram.zallan/Desktop/web-trends/2000/css/styles.scss */
  .pointer:first-of-type {
    -moz-transform: scaleX(-1) rotate(90deg);
    -o-transform: scaleX(-1) rotate(90deg);
    -webkit-transform: scaleX(-1) rotate(90deg);
    transform: scaleX(-1) rotate(90deg);
    filter: FlipH;
    -ms-filter: "FlipH";
    animation: leftPointer 2s infinite ease-in-out; }

@keyframes rightPointer {
  0% {
    -moz-transform: rotate(70deg);
    -o-transform: rotate(70deg);
    -webkit-transform: rotate(70deg);
    transform: rotate(70deg); }
  50% {
    -moz-transform: rotate(70deg) translateY(5px);
    -o-transform: rotate(70deg) translateY(5px);
    -webkit-transform: rotate(70deg) translateY(5px);
    transform: rotate(70deg) translateY(5px); }
  100% {
    -moz-transform: rotate(70deg);
    -o-transform: rotate(70deg);
    -webkit-transform: scaleX(-1) rotate(70deg);
    transform: rotate(70deg); } }

@keyframes leftPointer {
  0% {
    -moz-transform: scaleX(-1) rotate(70deg);
    -o-transform: scaleX(-1) rotate(70deg);
    -webkit-transform: scaleX(-1) rotate(70deg);
    transform: scaleX(-1) rotate(70deg); }
  50% {
    -moz-transform: scaleX(-1) rotate(70deg) translateY(5px);
    -o-transform: scaleX(-1) rotate(70deg) translateY(5px);
    -webkit-transform: scaleX(-1) rotate(70deg) translateY(5px);
    transform: scaleX(-1) rotate(70deg) translateY(5px); }
  100% {
    -moz-transform: scaleX(-1) rotate(70deg);
    -o-transform: scaleX(-1) rotate(70deg);
    -webkit-transform: scaleX(-1) rotate(70deg);
    transform: scaleX(-1) rotate(70deg); } }

/*# sourceMappingURL=styles.css.map */