body {
    width: 100%;
    height: 100%;
    background: black;
    background-image: url("http://art.teleportacia.org/observation/vernacular/stars/pusk.jpg");
    background-size: 200px 150px;
    background-repeat: repeat;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.numbers {
    text-align: center;
    margin-top: 50px;
    & img {
        width: 75px;
        height: auto;
    }
}

.spinning {
        animation: spin 2s infinite;
        animation-timing-function: ease-in-out;
}