body {
    background: #DDD;
    background-image: url("http://41.media.tumblr.com/eb25f89053853066ce5bb0b5b78ac484/tumblr_mno24pE3IK1rebw0do5_400.jpg");
    background-repeat: repeat;
    height: 100%;
    width: 100%;
}

img {
    margin: 0 auto;
    width: 900px;
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    text-indent: 40px;
}

#content {
    margin: 0 auto;
    width: 800px;
    padding: 0 10px;
    border: 10px ridge rgb(0, 200, 200);
    font-size: 20px;
}

#footer {
    background: rgba(255, 0, 0, 0.3);
    width: 800px;
    margin: 0 auto;
}